@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrains.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "JetBrains", sans-serif;
  background-color: black;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-container {
  width: 90%;
  max-width: 700px;
  text-align: center;
}

p {
  position: fixed;
  top: 5%;
  z-index: 1;
  color: white;
}

.journal1 {
  position: block;
  width: min(35vw, 450px);
  max-width: 450px;
  height: auto;
  margin: 0 auto;

  z-index: 1;
  animation: bob 3s ease-in-out infinite;
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.bubbles-bg {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  z-index: -1;
  overflow: hidden;
}
