@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrains.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "JetBrains", sans-serif;
  background-color: black;
}

.landing-container {
  width: 90%;
  max-width: 700px;
  text-align: center;
}

.title-card {
  display: block;
  width: min(45vw, 450px);
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  animation: bob 2s ease-in-out infinite;
}

.journal1 {
  color: white;
}

.bubbles-bg {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  z-index: -1;
  overflow: hidden;
}

@media (max-width: 700px) {
  .title-card {
    position: relative;
    top: 0vh;
    width: 95vw;
    max-width: none;
    margin: -15px auto 0;
  }
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
